.containerHeader{
  display: flex;
  padding: 1rem 2rem;

}

.tm-next{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.containerHeader{
  height: 5.5rem;

}

.navbar-nav{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  width: 60%;
}

.navbar-brand{
  font-size:2rem;
  font-weight: 750;
  color: #33215e;
}

a{
  text-decoration: none;
}

.nav-link{
  color: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  min-width: 80%;
}

.nav-item{
  display: flex;
  align-items: center;
}

.burger {
  display: none;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.hide {
  display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* display: inline-block; */
}
.dropdown:hover {
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

ul {
  padding-inline-start: unset;
}

@media screen and (max-width: 740px) {
  .burger {
    display: block;
    padding: 1rem;
    font-size: 20px;
    background-color: white;
    border-radius: 6px;
    border-color: darkgray;
  
  }
  .burger:hover {
    
    background-color: grey;
    cursor: pointer;
  
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .navbar-nav {
    display: none;
  }

  .navbar-nav2{
    background-color: #e4e3e6;
    padding: 2rem 0rem;
  }

  .nav-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
    height: 45px;
    font-size: 1.5rem;
    font-weight: 600;
}

  
}

@media screen and (min-width: 740px) {
  .navbar-nav2{
    display: none;
    
  }
}

